
<h2>Post Title: <%=@post.title%> </h2>
<h2>Post Content: <%=@post.content%> </h2>

<h2>Post Categories: <h2>
  <ul>
    <%@post.categories.each do |category|%>
      <li>  <%= category.name %>  </li>
    <%end%>
  </ul>
